# cache and virtualenv
__pycache__
.venv

# pip
mhn.egg-info

# cython build files
mhn/original/*.so
mhn/original/*.c
mhn/original/*.pyd
mhn/original/*.dll
mhn/original/*.exp
mhn/original/*.lib
mhn/ssr/*.so
mhn/ssr/*.c
mhn/ssr/*.pyd
mhn/ssr/*.dll
mhn/ssr/*.exp
mhn/ssr/*.lib